<a href="https://colab.research.google.com/github/TripathiAshutosh/tutorial-code/blob/master/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [9]:
pwd

'/content'

In [2]:
german_credit_1 = pd.read_csv("./German-Credit_1.csv")

In [3]:
german_credit_2 = pd.read_csv("./German-Credit_2.csv")

In [4]:
df3 = german_credit_1.merge(german_credit_2,on=['OBS'])

In [5]:
num_attr = ["DURATION","AMOUNT","INSTALL_RATE","AGE","NUM_CREDITS","NUM_DEPENDENTS"]

In [6]:
cat_attr = [i for i in df3.columns.values if i not in num_attr]

In [7]:
def convert_to_string(dataset,col_names_to_convert):
    for i in col_names_to_convert:
        dataset[i] = dataset[i].astype(str)
    return(dataset)

In [8]:
df3.dtypes

OBS                   int64
DURATION            float64
NEW_CAR             float64
USED_CAR            float64
FURNITURE           float64
RADIO_TV            float64
EDUCATION           float64
RETRAINING          float64
AMOUNT              float64
INSTALL_RATE        float64
CO_APPLICANT        float64
GUARANTOR           float64
REAL_ESTATE         float64
PROP_UNKN_NONE      float64
AGE                 float64
OTHER_INSTALL       float64
RENT                float64
OWN_RES             float64
NUM_CREDITS         float64
NUM_DEPENDENTS      float64
TELEPHONE           float64
FOREIGN             float64
RESPONSE            float64
CHK_ACCT              int64
HISTORY               int64
SAV_ACCT              int64
EMPLOYMENT            int64
PRESENT_RESIDENT      int64
JOB                   int64
dtype: object

In [10]:
df3 = convert_to_string(df3,col_names_to_convert=cat_attr)

## Handling Missing Values

In [11]:
df3.isnull()

,OBS,DURATION,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,INSTALL_RATE,...,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE,CHK_ACCT,HISTORY,SAV_ACCT,EMPLOYMENT,PRESENT_RESIDENT,JOB
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,True,True,...,True,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

import numpy as np
from google.colab import autoviz
df_8018807916584790127 = autoviz.get_df('df_8018807916584790127')

def categorical_histogram(df, colname, figsize=(2, 1.2), mpl_palette_name='Dark2'):
  from matplotlib import pyplot as plt
  import seaborn as sns
  _, ax = plt.subplots(figsize=figsize)
  bars = df[colname].value_counts()
  plt.barh(bars.index, bars.values, color=sns.palettes.mpl_palette(mpl_palette_name))
  plt.title(colname)
  ax.spines[['top', 'right',]].set_visible(False)
  return autoviz.MplChart.from_current_mpl_state()

chart = categorical_histogram(df_8018807916584790127, *['DURATION'], **{})
chart

import numpy as np
from google.colab import autoviz
df_8018807916584790127 = autoviz.get_df('df_8018807916584790127')

def categorical_histogram(df, colname, figsize=(2, 1.2), mpl_palette_name='Dark2'):
  from matplotlib import pyplot as plt
  import seaborn as sns
  _, ax = plt.subplots(figsize=figsize)
  bars = df[colname].value_counts()
  plt.barh(bars.index, bars.values, color=sns.palettes.mpl_palette(mpl_palette_name))
  plt.title(colname)
  ax.spines[['top', 'right',]].set_visible(False)
  return autoviz.MplChart.from_current_mpl_state()

chart = categorical_histogram(df_8018807916584790127, *['AMOUNT'], **{})
chart

import numpy as np
from google.colab import autoviz
df_8018807916584790127 = autoviz.get_df('df_8018807916584790127')

def categorical_histogram(df, colname, figsize=(2, 1.2), mpl_palette_name='Dark2'):
  from matplotlib import pyplot as plt
  import seaborn as sns
  _, ax = plt.subplots(figsize=figsize)
  bars = df[colname].value_counts()
  plt.barh(bars.index, bars.values, color=sns.palettes.mpl_palette(mpl_palette_name))
  plt.title(colname)
  ax.spines[['top', 'right',]].set_visible(False)
  return autoviz.MplChart.from_current_mpl_state()

chart = categorical_histogram(df_8018807916584790127, *['INSTALL_RATE'], **{})
chart

import numpy as np
from google.colab import autoviz
df_8018807916584790127 = autoviz.get_df('df_8018807916584790127')

def categorical_histogram(df, colname, figsize=(2, 1.2), mpl_palette_name='Dark2'):
  from matplotlib import pyplot as plt
  import seaborn as sns
  _, ax = plt.subplots(figsize=figsize)
  bars = df[colname].value_counts()
  plt.barh(bars.index, bars.values, color=sns.palettes.mpl_palette(mpl_palette_name))
  plt.title(colname)
  ax.spines[['top', 'right',]].set_visible(False)
  return autoviz.MplChart.from_current_mpl_state()

chart = categorical_histogram(df_8018807916584790127, *['AGE'], **{})
chart

import numpy as np
from google.colab import autoviz
df_8018807916584790127 = autoviz.get_df('df_8018807916584790127')

def heatmap(df, x_colname, y_colname, figsize=(2, 2), mpl_palette_name='viridis'):
  from matplotlib import pyplot as plt
  import seaborn as sns
  import pandas as pd
  plt.subplots(figsize=figsize)
  df_2dhist = pd.DataFrame({
      x_label: grp[y_colname].value_counts()
      for x_label, grp in df.groupby(x_colname)
  })
  sns.heatmap(df_2dhist, cmap=mpl_palette_name)
  plt.xlabel(x_colname)
  plt.ylabel(y_colname)
  return autoviz.MplChart.from_current_mpl_state()

chart = heatmap(df_8018807916584790127, *['DURATION', 'AMOUNT'], **{})
chart

import numpy as np
from google.colab import autoviz
df_8018807916584790127 = autoviz.get_df('df_8018807916584790127')

def heatmap(df, x_colname, y_colname, figsize=(2, 2), mpl_palette_name='viridis'):
  from matplotlib import pyplot as plt
  import seaborn as sns
  import pandas as pd
  plt.subplots(figsize=figsize)
  df_2dhist = pd.DataFrame({
      x_label: grp[y_colname].value_counts()
      for x_label, grp in df.groupby(x_colname)
  })
  sns.heatmap(df_2dhist, cmap=mpl_palette_name)
  plt.xlabel(x_colname)
  plt.ylabel(y_colname)
  return autoviz.MplChart.from_current_mpl_state()

chart = heatmap(df_8018807916584790127, *['AMOUNT', 'INSTALL_RATE'], **{})
chart

import numpy as np
from google.colab import autoviz
df_8018807916584790127 = autoviz.get_df('df_8018807916584790127')

def heatmap(df, x_colname, y_colname, figsize=(2, 2), mpl_palette_name='viridis'):
  from matplotlib import pyplot as plt
  import seaborn as sns
  import pandas as pd
  plt.subplots(figsize=figsize)
  df_2dhist = pd.DataFrame({
      x_label: grp[y_colname].value_counts()
      for x_label, grp in df.groupby(x_colname)
  })
  sns.heatmap(df_2dhist, cmap=mpl_palette_name)
  plt.xlabel(x_colname)
  plt.ylabel(y_colname)
  return autoviz.MplChart.from_current_mpl_state()

chart = heatmap(df_8018807916584790127, *['INSTALL_RATE', 'AGE'], **{})
chart

import numpy as np
from google.colab import autoviz
df_8018807916584790127 = autoviz.get_df('df_8018807916584790127')

def heatmap(df, x_colname, y_colname, figsize=(2, 2), mpl_palette_name='viridis'):
  from matplotlib import pyplot as plt
  import seaborn as sns
  import pandas as pd
  plt.subplots(figsize=figsize)
  df_2dhist = pd.DataFrame({
      x_label: grp[y_colname].value_counts()
      for x_label, grp in df.groupby(x_colname)
  })
  sns.heatmap(df_2dhist, cmap=mpl_palette_name)
  plt.xlabel(x_colname)
  plt.ylabel(y_colname)
  return autoviz.MplChart.from_current_mpl_state()

chart = heatmap(df_8018807916584790127, *['AGE', 'NUM_CREDITS'], **{})
chart

In [12]:
df3.isnull().sum()

OBS                  0
DURATION             2
NEW_CAR              0
USED_CAR             0
FURNITURE            0
RADIO_TV             0
EDUCATION            0
RETRAINING           0
AMOUNT              10
INSTALL_RATE         7
CO_APPLICANT         0
GUARANTOR            0
REAL_ESTATE          0
PROP_UNKN_NONE       0
AGE                 10
OTHER_INSTALL        0
RENT                 0
OWN_RES              0
NUM_CREDITS          6
NUM_DEPENDENTS       7
TELEPHONE            0
FOREIGN              0
RESPONSE             0
CHK_ACCT             0
HISTORY              0
SAV_ACCT             0
EMPLOYMENT           0
PRESENT_RESIDENT     0
JOB                  0
dtype: int64

In [13]:
df3.isna().sum()

OBS                  0
DURATION             2
NEW_CAR              0
USED_CAR             0
FURNITURE            0
RADIO_TV             0
EDUCATION            0
RETRAINING           0
AMOUNT              10
INSTALL_RATE         7
CO_APPLICANT         0
GUARANTOR            0
REAL_ESTATE          0
PROP_UNKN_NONE       0
AGE                 10
OTHER_INSTALL        0
RENT                 0
OWN_RES              0
NUM_CREDITS          6
NUM_DEPENDENTS       7
TELEPHONE            0
FOREIGN              0
RESPONSE             0
CHK_ACCT             0
HISTORY              0
SAV_ACCT             0
EMPLOYMENT           0
PRESENT_RESIDENT     0
JOB                  0
dtype: int64

In [14]:
df3.isnull().sum()[df3.isnull().sum()>0].index

Index(['DURATION', 'AMOUNT', 'INSTALL_RATE', 'AGE', 'NUM_CREDITS',
       'NUM_DEPENDENTS'],
      dtype='object')

In [15]:
# function to identify columns with na values
def na_column_names(dataset,count = 0):
    na_cols = dataset.isnull().sum()[dataset.isnull().sum()>count]
    return(list(na_cols.index))

In [16]:
na_column_names(df3)

['DURATION', 'AMOUNT', 'INSTALL_RATE', 'AGE', 'NUM_CREDITS', 'NUM_DEPENDENTS']

### 1. Dropping the records with missing values

In [17]:
drop_missing_rows = df3.dropna()

In [18]:
drop_missing_rows.isnull().sum()

OBS                 0
DURATION            0
NEW_CAR             0
USED_CAR            0
FURNITURE           0
RADIO_TV            0
EDUCATION           0
RETRAINING          0
AMOUNT              0
INSTALL_RATE        0
CO_APPLICANT        0
GUARANTOR           0
REAL_ESTATE         0
PROP_UNKN_NONE      0
AGE                 0
OTHER_INSTALL       0
RENT                0
OWN_RES             0
NUM_CREDITS         0
NUM_DEPENDENTS      0
TELEPHONE           0
FOREIGN             0
RESPONSE            0
CHK_ACCT            0
HISTORY             0
SAV_ACCT            0
EMPLOYMENT          0
PRESENT_RESIDENT    0
JOB                 0
dtype: int64

In [19]:
df3.shape

(1000, 29)

In [20]:
# Looking at the dimension
drop_missing_rows.shape

(986, 29)

In [21]:
df3.dropna(thresh=25,axis=0).shape #Keep only the rows with at least 25 non-na values

(996, 29)

In [22]:
df3_fillNa = df3.copy()

In [23]:
df3_fillNa.isnull().sum()

OBS                  0
DURATION             2
NEW_CAR              0
USED_CAR             0
FURNITURE            0
RADIO_TV             0
EDUCATION            0
RETRAINING           0
AMOUNT              10
INSTALL_RATE         7
CO_APPLICANT         0
GUARANTOR            0
REAL_ESTATE          0
PROP_UNKN_NONE       0
AGE                 10
OTHER_INSTALL        0
RENT                 0
OWN_RES              0
NUM_CREDITS          6
NUM_DEPENDENTS       7
TELEPHONE            0
FOREIGN              0
RESPONSE             0
CHK_ACCT             0
HISTORY              0
SAV_ACCT             0
EMPLOYMENT           0
PRESENT_RESIDENT     0
JOB                  0
dtype: int64

In [24]:
df3_fillNa.fillna(df3_fillNa.mean(),inplace=True)

<ipython-input-24-9a32b3064d4a>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df3_fillNa.fillna(df3_fillNa.mean(),inplace=True)

In [25]:
df3_fillNa.isna().sum()

OBS                 0
DURATION            0
NEW_CAR             0
USED_CAR            0
FURNITURE           0
RADIO_TV            0
EDUCATION           0
RETRAINING          0
AMOUNT              0
INSTALL_RATE        0
CO_APPLICANT        0
GUARANTOR           0
REAL_ESTATE         0
PROP_UNKN_NONE      0
AGE                 0
OTHER_INSTALL       0
RENT                0
OWN_RES             0
NUM_CREDITS         0
NUM_DEPENDENTS      0
TELEPHONE           0
FOREIGN             0
RESPONSE            0
CHK_ACCT            0
HISTORY             0
SAV_ACCT            0
EMPLOYMENT          0
PRESENT_RESIDENT    0
JOB                 0
dtype: int64

In [26]:
df3_fillNa = df3_fillNa.replace([0,np.inf], np.nan)

In [27]:
df3_new = df3.copy()

In [28]:
df3_new.isnull().sum()

OBS                  0
DURATION             2
NEW_CAR              0
USED_CAR             0
FURNITURE            0
RADIO_TV             0
EDUCATION            0
RETRAINING           0
AMOUNT              10
INSTALL_RATE         7
CO_APPLICANT         0
GUARANTOR            0
REAL_ESTATE          0
PROP_UNKN_NONE       0
AGE                 10
OTHER_INSTALL        0
RENT                 0
OWN_RES              0
NUM_CREDITS          6
NUM_DEPENDENTS       7
TELEPHONE            0
FOREIGN              0
RESPONSE             0
CHK_ACCT             0
HISTORY              0
SAV_ACCT             0
EMPLOYMENT           0
PRESENT_RESIDENT     0
JOB                  0
dtype: int64

In [29]:
df3_new = df3_new.replace([0,np.inf],np.nan)

### 2. Imputing missing values with central values

**Imputing Numeric Columns**

In [30]:
from sklearn.impute import SimpleImputer

In [31]:
df3_imp = df3.copy()

In [32]:
df3_imp[num_attr]

     DURATION  AMOUNT  INSTALL_RATE   AGE  NUM_CREDITS  NUM_DEPENDENTS
0         6.0  1169.0           4.0  67.0          2.0             1.0
1        48.0  5951.0           2.0  22.0          1.0             1.0
2        12.0  2096.0           2.0  49.0          1.0             2.0
3        42.0     0.0           2.0  45.0          1.0             2.0
4        24.0     0.0           3.0  53.0          2.0             2.0
..        ...     ...           ...   ...          ...             ...
995      12.0     NaN           NaN   NaN          NaN             NaN
996      30.0  3857.0           4.0  40.0          1.0             1.0
997      12.0   804.0           4.0  38.0          1.0             1.0
998      45.0  1845.0           4.0  23.0          1.0             1.0
999      45.0     NaN           3.0   NaN          1.0             1.0

[1000 rows x 6 columns]

In [33]:
imp_num = SimpleImputer(missing_values=np.nan, strategy='mean') #Create an imputer object

In [34]:

abc = imp_num.fit_transform(df3_imp[num_attr])

In [35]:
abc

array([[6.00000000e+00, 1.16900000e+03, 4.00000000e+00, 6.70000000e+01,
        2.00000000e+00, 1.00000000e+00],
       [4.80000000e+01, 5.95100000e+03, 2.00000000e+00, 2.20000000e+01,
        1.00000000e+00, 1.00000000e+00],
       [1.20000000e+01, 2.09600000e+03, 2.00000000e+00, 4.90000000e+01,
        1.00000000e+00, 2.00000000e+00],
       ...,
       [1.20000000e+01, 8.04000000e+02, 4.00000000e+00, 3.80000000e+01,
        1.00000000e+00, 1.00000000e+00],
       [4.50000000e+01, 1.84500000e+03, 4.00000000e+00, 2.30000000e+01,
        1.00000000e+00, 1.00000000e+00],
       [4.50000000e+01, 3.26028788e+03, 3.00000000e+00, 3.55050505e+01,
        1.00000000e+00, 1.00000000e+00]])

In [36]:
df_num_nans_imputed = pd.DataFrame(imp_num.fit_transform(df3_imp[num_attr]), columns=num_attr) #fit and transform

In [37]:
df_num_nans_imputed.head()

   DURATION  AMOUNT  INSTALL_RATE   AGE  NUM_CREDITS  NUM_DEPENDENTS
0       6.0  1169.0           4.0  67.0          2.0             1.0
1      48.0  5951.0           2.0  22.0          1.0             1.0
2      12.0  2096.0           2.0  49.0          1.0             2.0
3      42.0     0.0           2.0  45.0          1.0             2.0
4      24.0     0.0           3.0  53.0          2.0             2.0

In [38]:
df_num_nans_imputed.isnull().sum()

DURATION          0
AMOUNT            0
INSTALL_RATE      0
AGE               0
NUM_CREDITS       0
NUM_DEPENDENTS    0
dtype: int64

**Imputing Categorical columns with mode**

In [39]:
df3_imp[cat_attr].dtypes

OBS                 object
NEW_CAR             object
USED_CAR            object
FURNITURE           object
RADIO_TV            object
EDUCATION           object
RETRAINING          object
CO_APPLICANT        object
GUARANTOR           object
REAL_ESTATE         object
PROP_UNKN_NONE      object
OTHER_INSTALL       object
RENT                object
OWN_RES             object
TELEPHONE           object
FOREIGN             object
RESPONSE            object
CHK_ACCT            object
HISTORY             object
SAV_ACCT            object
EMPLOYMENT          object
PRESENT_RESIDENT    object
JOB                 object
dtype: object

when we converted the columns in to string type, nan will be treated as a string, we will replace the string with pythons inbuilt null type

In [40]:
df3_imp[cat_attr] = df3_imp[cat_attr].replace('nan',np.NaN)

In [41]:
df3_imp['NEW_CAR'].value_counts()

0.0    765
1.0    234
Name: NEW_CAR, dtype: int64

In [42]:
df_cat_nans_imputed = df3_imp[cat_attr].apply(lambda x:x.fillna(x.value_counts().index[0]))

In [43]:
df_cat_nans_imputed

,OBS,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,CO_APPLICANT,GUARANTOR,REAL_ESTATE,...,OWN_RES,TELEPHONE,FOREIGN,RESPONSE,CHK_ACCT,HISTORY,SAV_ACCT,EMPLOYMENT,PRESENT_RESIDENT,JOB
0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0.0,1.0,0,4,4,4,4,2
1,2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1,2,0,2,2,2
2,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,3,4,0,3,3,1
3,4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0,2,0,3,4,2
4,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,3,0,2,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,3,2,0,3,4,1
996,997,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0,2,0,2,4,3
997,998,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,3,2,0,4,4,2
998,999,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0,2,0,2,4,2
999,1000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1,4,1,0,4,2

In [44]:
df_imputed = pd.concat([df_num_nans_imputed,df_cat_nans_imputed],axis=1)

In [45]:
df_imputed.columns

Index(['DURATION', 'AMOUNT', 'INSTALL_RATE', 'AGE', 'NUM_CREDITS',
       'NUM_DEPENDENTS', 'OBS', 'NEW_CAR', 'USED_CAR', 'FURNITURE', 'RADIO_TV',
       'EDUCATION', 'RETRAINING', 'CO_APPLICANT', 'GUARANTOR', 'REAL_ESTATE',
       'PROP_UNKN_NONE', 'OTHER_INSTALL', 'RENT', 'OWN_RES', 'TELEPHONE',
       'FOREIGN', 'RESPONSE', 'CHK_ACCT', 'HISTORY', 'SAV_ACCT', 'EMPLOYMENT',
       'PRESENT_RESIDENT', 'JOB'],
      dtype='object')

In [46]:
df_imputed.shape

(1000, 29)

In [47]:
df3.shape

(1000, 29)

### 3. kNN Imputation

In [48]:
from sklearn.impute import KNNImputer

In [49]:
df3_knn_impute = df3.copy()

In [50]:
knnImputer = KNNImputer(n_neighbors=5)

In [51]:
knnImputer.fit_transform(df3_knn_impute[num_attr])

array([[6.0000e+00, 1.1690e+03, 4.0000e+00, 6.7000e+01, 2.0000e+00,
        1.0000e+00],
       [4.8000e+01, 5.9510e+03, 2.0000e+00, 2.2000e+01, 1.0000e+00,
        1.0000e+00],
       [1.2000e+01, 2.0960e+03, 2.0000e+00, 4.9000e+01, 1.0000e+00,
        2.0000e+00],
       ...,
       [1.2000e+01, 8.0400e+02, 4.0000e+00, 3.8000e+01, 1.0000e+00,
        1.0000e+00],
       [4.5000e+01, 1.8450e+03, 4.0000e+00, 2.3000e+01, 1.0000e+00,
        1.0000e+00],
       [4.5000e+01, 4.4654e+03, 3.0000e+00, 2.7600e+01, 1.0000e+00,
        1.0000e+00]])

## Handling Categorical Variables

In [52]:
from sklearn.preprocessing import LabelEncoder

In [53]:
#### Convert to number

**1. Label Encoder:**
    
It is used to transform non-numerical labels to numerical labels (or nominal categorical variables). Numerical labels are always between 0 and n_classes-1.

In [54]:
le = LabelEncoder()
le.fit(["paris", "paris", "tokyo", "amsterdam"])
LabelEncoder()
print(list(le.classes_))
#['amsterdam', 'paris', 'tokyo']
le.transform(["tokyo", "tokyo", "paris"])
#array([2, 2, 1]...)
print(list(le.inverse_transform([2, 2, 1,0])))
#['tokyo', 'tokyo', 'paris']

['amsterdam', 'paris', 'tokyo']
['tokyo', 'tokyo', 'paris', 'amsterdam']

In [55]:
patient_adherence = pd.read_csv('./Patient Adherence.csv')

FileNotFoundError: ignored

In [ ]:
patient_adherence.head()

,patient_id,Age,Gender,Prescription_period,Diabetes,Alcoholism,HyperTension,Smokes,Tuberculosis,Sms_Reminder,Adherence
0,1,19,M,7,0,0,0,0,0,0,No
1,2,24,F,59,0,0,0,0,0,0,No
2,3,4,F,43,0,0,0,0,0,0,No
3,4,38,M,66,0,0,0,0,0,1,No
4,5,46,F,98,0,0,0,0,0,1,No

In [ ]:
patient_adherence.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180212 entries, 0 to 180211
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   patient_id           180212 non-null  int64
 1   Age                  180212 non-null  int64
 2   Gender               180212 non-null  object
 3   Prescription_period  180212 non-null  int64
 4   Diabetes             180212 non-null  int64
 5   Alcoholism           180212 non-null  int64
 6   HyperTension         180212 non-null  int64
 7   Smokes               180212 non-null  int64
 8   Tuberculosis         180212 non-null  int64
 9   Sms_Reminder         180212 non-null  int64
 10  Adherence            180212 non-null  object
dtypes: int64(9), object(2)
memory usage: 15.1+ MB

In [ ]:
le = LabelEncoder()
patient_adherence['Gender_label_enc'] = le.fit_transform(patient_adherence['Gender'])

In [ ]:
patient_adherence.columns

Index(['patient_id', 'Age', 'Gender', 'Prescription_period', 'Diabetes',
       'Alcoholism', 'HyperTension', 'Smokes', 'Tuberculosis', 'Sms_Reminder',
       'Adherence', 'Gender_label_enc'],
      dtype='object')

In [ ]:
patient_adherence[['Gender','Gender_label_enc']]

       Gender  Gender_label_enc
0           M                 1
1           F                 0
2           F                 0
3           M                 1
4           F                 0
...       ...               ...
180207      M                 1
180208      M                 1
180209      F                 0
180210      M                 1
180211      M                 1

[180212 rows x 2 columns]

A common challenge with nominal categorical variable is that, it may decrease performance of a model. Now suppose, We have two features “age” (range: 0-80) and “city” (81 different levels). Now, when we’ll apply label encoder to ‘city’ variable, it will represent ‘city’ with numeric values range from 0 to 80. The ‘city’ variable is now similar to ‘age’ variable since both will have similar data points, which is certainly not a right approach.

Another challenge with label encoder is that model some time get biased to greater values. For example it gives more weightage to 5 compare to 0 in label encoded values.

In [ ]:
len(np.unique(patient_adherence.Age))

107

**2. Convert numeric bins to number**

In [ ]:
patient_adherence = pd.read_csv('./Patient Adherence.csv')

In [ ]:
bins = [0, 20, 30, 40, 50, 70, 100]
patient_adherence['Age_binned'] = pd.cut(patient_adherence['Age'], bins)

In [ ]:
print (patient_adherence[['Age','Age_binned']].head())

   Age Age_binned
0   19    (0, 20]
1   24   (20, 30]
2    4    (0, 20]
3   38   (30, 40]
4   46   (40, 50]

In [ ]:
bins = [0, 20, 30, 40, 50, 70, 100]
labels = [1,2,3,4,5,6]
patient_adherence['Age_binned_labels'] = pd.cut(patient_adherence['Age'], bins=bins, labels=labels)

In [ ]:
print (patient_adherence[['Age','Age_binned','Age_binned_labels']].head())

   Age Age_binned Age_binned_labels
0   19    (0, 20]                 1
1   24   (20, 30]                 2
2    4    (0, 20]                 1
3   38   (30, 40]                 3
4   46   (40, 50]                 4

**3. Dummy Coding**

In [ ]:
patient_adherence = pd.read_csv('./Patient Adherence.csv')

In [ ]:
Gender_dummies = pd.get_dummies(patient_adherence.Gender,prefix="Gender")

In [ ]:
Gender_dummies

        Gender_F  Gender_M
0              0         1
1              1         0
2              1         0
3              0         1
4              1         0
...          ...       ...
180207         0         1
180208         0         1
180209         1         0
180210         0         1
180211         0         1

[180212 rows x 2 columns]

In [ ]:
patient_adherence = pd.concat([patient_adherence,Gender_dummies],axis=1)

In [ ]:
patient_adherence.reset_index(drop=True,inplace = True)

In [ ]:
patient_adherence

,patient_id,Age,Gender,Prescription_period,Diabetes,Alcoholism,HyperTension,Smokes,Tuberculosis,Sms_Reminder,Adherence,Gender_F,Gender_M
0,1,19,M,7,0,0,0,0,0,0,No,0,1
1,2,24,F,59,0,0,0,0,0,0,No,1,0
2,3,4,F,43,0,0,0,0,0,0,No,1,0
3,4,38,M,66,0,0,0,0,0,1,No,0,1
4,5,46,F,98,0,0,0,0,0,1,No,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
180207,180208,17,M,84,0,0,0,0,0,0,No,0,1
180208,180209,41,M,88,0,0,1,0,0,1,No,0,1
180209,180210,48,F,22,0,0,0,0,0,0,Yes,1,0
180210,180211,5,M,104,0,0,0,0,0,0,No,0,1
180211,180212,0,M,96,0,0,0,0,0,1,No,0,1

In [ ]:
print (patient_adherence[['Gender','Gender_F','Gender_M']])

       Gender  Gender_F  Gender_M
0           M         0         1
1           F         1         0
2           F         1         0
3           M         0         1
4           F         1         0
...       ...       ...       ...
180207      M         0         1
180208      M         0         1
180209      F         1         0
180210      M         0         1
180211      M         0         1

[180212 rows x 3 columns]

## Normalization

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
minmaxscaler = MinMaxScaler()

In [ ]:
minmaxscaler.fit(df_imputed[num_attr])

MinMaxScaler()

In [ ]:
minmaxscaler.data_min_

array([ 4.,  0.,  1., 19.,  1.,  1.])

In [ ]:
minmaxscaler.data_max_

array([7.2000e+01, 1.8424e+04, 4.0000e+00, 7.5000e+01, 4.0000e+00,
       2.0000e+00])

In [ ]:
df_min_max_scaled = minmaxscaler.transform(df_imputed[num_attr])

In [ ]:
df_min_max_scaled = pd.DataFrame(df_min_max_scaled,columns=num_attr)

In [ ]:
df_min_max_scaled.head()

   DURATION    AMOUNT  INSTALL_RATE       AGE  NUM_CREDITS  NUM_DEPENDENTS
0  0.029412  0.063450      1.000000  0.857143     0.333333             0.0
1  0.647059  0.323003      0.333333  0.053571     0.000000             0.0
2  0.117647  0.113765      0.333333  0.535714     0.000000             1.0
3  0.558824  0.000000      0.333333  0.464286     0.000000             1.0
4  0.294118  0.000000      0.666667  0.607143     0.333333             1.0

In [ ]:
df_min_max_scaled[num_attr].describe()

,DURATION,AMOUNT,INSTALL_RATE,AGE,NUM_CREDITS,NUM_DEPENDENTS
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.248792,0.176959,0.657603,0.294733,0.135480,0.156093
std,0.177244,0.152603,0.371709,0.201532,0.191523,0.361852
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.117647,0.074455,0.333333,0.142857,0.000000,0.000000
50%,0.205882,0.126276,0.666667,0.250000,0.000000,0.000000
75%,0.294118,0.214476,1.000000,0.410714,0.333333,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Standardizing the data

In [ ]:
from sklearn.preprocessing import  StandardScaler

In [ ]:
scaler = StandardScaler(with_mean=True, with_std=True).fit(df_imputed[num_attr])

In [ ]:
scaler

StandardScaler()

In [ ]:
scaler.mean_

array([2.09178357e+01, 3.26028788e+03, 2.97280967e+00, 3.55050505e+01,
       1.40643863e+00, 1.15609265e+00])

In [ ]:
abc  = scaler.transform(df_imputed[num_attr])

In [ ]:
df_scaled = pd.DataFrame(scaler.transform(df_imputed[num_attr]),columns=num_attr)

In [ ]:
df_scaled.head()

   DURATION    AMOUNT  INSTALL_RATE       AGE  NUM_CREDITS  NUM_DEPENDENTS
0 -1.238350 -0.744192      0.921603  2.792072     1.033573       -0.431588
1  2.248127  0.957499     -0.872812 -1.197242    -0.707735       -0.431588
2 -0.740282 -0.414316     -0.872812  1.196346    -0.707735        2.333359
3  1.750059 -1.160184     -0.872812  0.841741    -0.707735        2.333359
4  0.255855 -1.160184      0.024395  1.550952     1.033573        2.333359

In [ ]:
df_scaled.describe()

,DURATION,AMOUNT,INSTALL_RATE,AGE,NUM_CREDITS,NUM_DEPENDENTS
count,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03
mean,3.952394e-16,8.975682e-17,-2.116328e-16,1.887379e-17,9.303669e-17,-7.814860e-16
std,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00
min,-1.404372e+00,-1.160184e+00,-1.770019e+00,-1.463196e+00,-7.077346e-01,-4.315879e-01
25%,-7.402816e-01,-6.720424e-01,-8.728118e-01,-7.539847e-01,-7.077346e-01,-4.315879e-01
50%,-2.422135e-01,-3.322915e-01,2.439536e-02,-2.220763e-01,-7.077346e-01,-4.315879e-01
75%,2.558546e-01,2.459701e-01,9.216025e-01,5.757864e-01,1.033573e+00,-4.315879e-01
max,4.240399e+00,5.396057e+00,9.216025e-01,3.501283e+00,4.516188e+00,2.333359e+00